*{margin:0;padding:0}

body,html{font-family: 'Noto Sans JP', sans-serif;
    
  }
  
h2{text-transform: uppercase;font-weight: 700;font-size: 29px;margin-top:43px;}
p{font-size:14px!important; font-weight:500;}
  .display-4 {
    font-size: 37px;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 171px;
	font-weight:600;
}

body,html{overflow-x:hidden;}

.bttn{    margin-top: -42px;
}
  .jumbotron {
    position: relative;
    background:none;z-index:1;
  }
  .jumbotron:after {
      content : "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url(images/newbanner.jpg);
      background-repeat: no-repeat;
      background-position: center;
    background-size: cover;
      width: 100%;
      height:750px;
     
      z-index: -1;
  }
  

  .lead {
    font-size: 1.25rem;
    font-weight: 300;
    color: #fff;
}
  .nav-item a{color:#fff !important;position:relative!important;top:4px;font-weight:600;}
  .lefts{margin-left:330px;}
  
  

.nav-item a::before{content:"";width:0px ;height:2px ;position:absolute ;background-color:#ffb504 ;left:5px ;top:54px ;transition:all .8s;}

.nav-item a:hover::before {
 width:50px;
}
.golden-btn {
  display: inline-block;
  outline: none;
  font-family: inherit;
  font-size: 1em;
  box-sizing: border-box;
  border: none;
  border-radius: .3em;
 font-size: 16px!important;
  height: 53px;
    width: 162px;
  line-height: 2.5em;
  border-radius:30px;
  text-transform: uppercase;
  padding: 0 1em;
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
              inset 0 -2px 5px 1px rgba(139,66,8,1),
              inset 0 -1px 1px 3px rgba(250,227,133,1);
  background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
  border: 1px solid #a55d07;
  color: #000;
  font-weight:700!important;
  text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
  cursor: pointer;
  transition: all .2s ease-in-out;
  background-size: 100% 100%;
  background-position:center;
}
.golden-btn:focus,
.golden-btn:hover {
  background-size: 150% 150%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23),
                inset 0 -2px 5px 1px #b17d10,
                inset 0 -1px 1px 3px rgba(250,227,133,1);
  border: 1px solid rgba(165,93,7,.6);
  color: rgba(120,50,5,.8);
}
.golden-btn:active {
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
              inset 0 -2px 5px 1px #b17d10,
                inset 0 -1px 1px 3px rgba(250,227,133,1);
}

.pad{padding:0px 170px;}
.tit{    font-weight: 700;
    margin-left: 103px;
    font-size: 20px;
}

.fle2{display:flex;margin-left:130px;list-style-type:none;font-weight:600;font-size:15px;}

.fle{font-weight:600;font-size:15px}

.mtop{margin-top: 25px;}

.cards{width:380px;height:264px;background-color: background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  ;border-radius:20px;padding:20px;   box-shadow: rgb(38, 57, 77) 0px 10px 20px -10px;}

  .bgm{background-image: url(images/2.jpg);margin-top: 177px;background-size: cover;background-position: center center;height: 871px;}
  .bgs{background-image: url(images/bgm2.jpg);margin-top: 0px;background-size: cover;background-position: center center;height: 1762px;padding: 0!important;}



#slider {
  height: 35vw;
  position: relative;
  perspective: 1000px;
  margin-bottom:60px;
  transform-style: preserve-3d;
  position:relative;top:50%;left:50%;transform:translate(-250%,10%);
}

#slider label {
  margin: auto;
  width: 60%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0; right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(-30%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
  transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(15%,0,-100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(30%,0,-200px);
}

#slide1 { background: #00BCD4 ; width:400px !important;height:500px !important;background-image:url(images/c1.jpg);border:1px solid #fff;}
#slide2 { background: #4CAF50 ;width:400px !important;height:500px !important;background-image:url(images/c2.jpg);border:1px solid #fff;}
#slide3 { background: #CDDC39 ;width:400px !important;height:500px !important;background-image:url(images/c3.jpg);border:1px solid #fff;}
#slide4 { background: #FFC107;width:400px !important; height:500px !important;background-image:url(images/c1.jpg);border:1px solid #fff;}
#slide5 { background: #FF5722 ;width:400px !important;height:500px !important;background-image:url(images/c2.jpg);border:1px solid #fff;}
  
  .social{word-spacing:10px;}
  a{color:#fff;}

  i{color:#fff;}

  .bg-my{background-color: #450b79;}
  
  .left{    position: relative;
    left:407px}

    .my-social{position: relative;top:-43px;left:546px;word-spacing: 20px;top: -48px;
    left: 465px;}

h4{font-weight:600;}

    @media only screen and (max-width:768px) {
		
		.left {
    position: relative;
    left: 0px;
}

.golden-btn {border-radius:20px!important;
    display: inline-block;
    outline: none;
    font-family: inherit;
    font-size: 1em;
    box-sizing: border-box;
    border: none;
    border-radius: .3em;
    font-size: 14px!important;
    height: 38px;
width: 112px;}


.lefts {
    margin-left: 146px;
    /* margin-top: -138px; */
    position: relative;
    top: -71px;
}

h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
}

      .cards {
        width: 299px;
        height: 372px;
        background-color: background-color: #a4508b;
        background-image: linear-gradient(
    326deg
    , #a4508b 0%, #5f0a87 74%);
        border-radius: 20px;
        padding: 20px;}

        .cas{width:292px;}
        .cas2{width:292px;}

        .bg-my {
          background-color: #450b79;
            margin-top:-3px;
}


.bgs {
    background-image: url(images/bgm2.jpg);
    margin-top: 0px;
    background-size: cover;
    background-position: center center;
height:1906px;}


        .bgm {
          background-image: url(images/2.jpg);
          margin-top:-20px;
          background-size: cover;
          background-position: center center;
          height:2028px;}

  
		  .my{margin-top: 388px;}
		  .fle{display:block!important;}
		  
		#slider {
    height: 35vw;
    position: relative;
    perspective: 1000px;
    margin-bottom: -120px;
    transform-style: preserve-3d;
    position: relative;
    top: 50%;
    left: 50%;
		transform: translate(-145%,10%);}  
		

		
#slide1 { background: #00BCD4 ; width:250px !important;height:300px !important;background-image:url(images/c1.jpg);border:1px solid #fff;}
#slide2 { background: #4CAF50 ;width:250px !important;height:300px !important;background-image:url(images/c2.jpg);border:1px solid #fff;}
#slide3 { background: #CDDC39 ;width:250px !important;height:300px !important;background-image:url(images/c3.jpg);border:1px solid #fff;}
#slide4 { background: #FFC107;width:250px !important; height:300px !important;background-image:url(images/c1.jpg);border:1px solid #fff;}
#slide5 { background: #FF5722 ;width:250px !important;height:300px !important;background-image:url(images/c2.jpg);border:1px solid #fff;}
  
	.navbar{width: 359px;}	  
		  
		.display-4 {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 106px;
}  
	.jumbotron:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(images/newbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: -68px -2px;
    width: 100%;
    height: 423px;
    z-index: -1;
}	  

.copy{ margin-top: -54px;font-weight:600;}
		  
		 .navbar-nav .nav-link {
    padding-right: 2px;
    background: #000;
    width: 331px;
    padding-left: 19px;
		 height: 38px;} 
		  
		  .lead{font-size:12px;}
		  
		.iconss{display:inline!important;}  
		  

    }
	
	.fa-bars{color:#fff;}
	.navbar-light .navbar-toggler {border:none;}
	
		.navbar-light .navbar-toggler:focus {border:none;outline:none;}
		
		.navbar-light .navbar-toggler-icon {background:none}
		
		hr.new1 {width:100%;
    border-top: 1px solid white;
    z-index: 9999!important;
    position: relative;
    top: -272px;
	left:-210px;
	width:1550px;

}


		hr.new2 {width:100%;
    border-top: 1px solid white;
    z-index: 9999!important;
   margin-left:-40px;
	width:1300px;
	margin-top:60px;

}